In [1]:
print("hello world")

hello world

## SHORTCUTS of JUPYTER NOTEBOOK
1. SHIFT + ENTER ==> Cell Execute
2. ESC + A ==> Create cell above
3. ESC + B ==> Create cell below
4. ESC + M ==> convert cell to markdown
5. "#" is ==> used for headings in markdown
6. ESC + DD ==> Delete the cell on which you are atm
7. ESC + R ==> Convert cell to raw(plain text)
8. ESC + Y ===> Convert cell back to "code"
### CTRL + SHIFT + H ( To get all shorcuts commands of Jupyter )

In [2]:
print("Cloud Data Engineering Batch-2")

Cloud Data Engineering Batch-2

### Variables
- Variable name can't start with number
- Variaable name can't have spaces
- Can use underscore "_" instad of spaces
- Can't use any character expect "_"
- Use precise(meaningful) and valid names
#### NOTE: Can't use the reserve words for variable name

In [6]:
Name = "Mubashir Hussain"   #string type variable declare
age = 16                    #number type variable declare
weight = 32.5               #floating type variable declare
relationshipStatus = False  #Boolean type variable declare

In [9]:
print(Name)
print(type(Name))
print(age)
print(type(age))
print(weight)
print(type(weight))
print(relationshipStatus)
print(type(relationshipStatus))

Mubashir Hussain
<class 'str'>
16
<class 'int'>
32.5
<class 'float'>
False
<class 'bool'>