In [3]:
print("hello world")

hello world

## SHORTCUTS of JUPYTER NOTEBOOK
1. SHIFT + ENTER ==> Cell Execute
2. ESC + A ==> Create cell above
3. ESC + B ==> Create cell below
4. ESC + M ==> convert cell to markdown
5. "#" is ==> used for headings in markdown
6. ESC + DD ==> Delete the cell on which you are atm
7. ESC + R ==> Convert cell to raw(plain text)
8. ESC + Y ===> Convert cell back to "code"
### CTRL + SHIFT + H ( To get all shorcuts commands of Jupyter )

In [4]:
print("Cloud Data Engineering Batch-2")

Cloud Data Engineering Batch-2

### Variables
- Variable name can't start with number
- Variaable name can't have spaces
- Can use underscore "_" instad of spaces
- Can't use any character expect "_"
- Use precise(meaningful) and valid names
#### NOTE: Can't use the reserve words for variable name

In [23]:
Name = "Mubashir Hussain"   #string type variable declare
age = 16                    #number type variable declare
weight = 32.5               #floating type variable declare
relationshipStatus = False  #Boolean type variable declare

In [24]:
print(Name)
print(type(Name))
print(age)
print(type(age))
print(weight)
print(type(weight))
print(relationshipStatus)
print(type(relationshipStatus))

Mubashir Hussain
<class 'str'>
16
<class 'int'>
32.5
<class 'float'>
False
<class 'bool'>

In [25]:
age += 4

In [26]:
age

20

In [27]:
value_subtraction = 6

In [28]:
age -= value_subtraction

In [29]:
age

14

### Math expressions: Familiar operators

In [30]:
5+11

16

In [31]:
15-17

-2

In [32]:
18*18

324

In [34]:
99/99 # on dividiing answer is always in flaot

1.0

In [35]:
int(500/5)

100

### Math expressions: Unfamiliar operators